examples/sample.json
[
  {
    "id": "133f1b2f.22be85",
    "type": "naversearch",
    "z": "fbe560b0.5c19f",
    "name": "네이버 블로그",
    "api": "blog",
    "query": "테슬라",
    "display": "10",
    "sort": "date",
    "start": "1",
    "creds": "bce27ad5.f77dd8",
    "x": 340,
    "y": 300,
    "wires": [
      [
        "8d0a1376.ff255"
      ]
    ]
  },
  {
    "id": "52a931f9.8ea09",
    "type": "inject",
    "z": "fbe560b0.5c19f",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 300,
    "wires": [
      [
        "133f1b2f.22be85"
      ]
    ]
  },
  {
    "id": "8d0a1376.ff255",
    "type": "debug",
    "z": "fbe560b0.5c19f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 300,
    "wires": []
  },
  {
    "id": "94285f50.74805",
    "type": "naversearch",
    "z": "fbe560b0.5c19f",
    "name": "네이버 뉴스",
    "api": "news",
    "query": "테슬라",
    "display": "10",
    "sort": "date",
    "start": "1",
    "creds": "bce27ad5.f77dd8",
    "x": 330,
    "y": 340,
    "wires": [
      [
        "5d0ebfe0.01312"
      ]
    ]
  },
  {
    "id": "2689a622.31611a",
    "type": "inject",
    "z": "fbe560b0.5c19f",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 340,
    "wires": [
      [
        "94285f50.74805"
      ]
    ]
  },
  {
    "id": "5d0ebfe0.01312",
    "type": "debug",
    "z": "fbe560b0.5c19f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 340,
    "wires": []
  },
  {
    "id": "804b93f8.19242",
    "type": "naversearch",
    "z": "fbe560b0.5c19f",
    "name": "네이버 성인검색어 판별",
    "api": "adult",
    "query": "테슬라",
    "display": "10",
    "sort": "date",
    "start": "1",
    "creds": "bce27ad5.f77dd8",
    "x": 370,
    "y": 380,
    "wires": [
      [
        "42c3d45c.d4c34c"
      ]
    ]
  },
  {
    "id": "ec83b263.a15de",
    "type": "inject",
    "z": "fbe560b0.5c19f",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 380,
    "wires": [
      [
        "804b93f8.19242"
      ]
    ]
  },
  {
    "id": "42c3d45c.d4c34c",
    "type": "debug",
    "z": "fbe560b0.5c19f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 380,
    "wires": []
  },
  {
    "id": "2262748c.056dec",
    "type": "naversearch",
    "z": "fbe560b0.5c19f",
    "name": "네이버 백과사전",
    "api": "encyc",
    "query": "테슬라",
    "display": "10",
    "sort": "date",
    "start": "1",
    "creds": "bce27ad5.f77dd8",
    "x": 340,
    "y": 420,
    "wires": [
      [
        "55a26134.93169"
      ]
    ]
  },
  {
    "id": "ee342fd2.da13a",
    "type": "inject",
    "z": "fbe560b0.5c19f",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 420,
    "wires": [
      [
        "2262748c.056dec"
      ]
    ]
  },
  {
    "id": "55a26134.93169",
    "type": "debug",
    "z": "fbe560b0.5c19f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 420,
    "wires": []
  },
  {
    "id": "15b7ef5d.2e40d1",
    "type": "naversearch",
    "z": "fbe560b0.5c19f",
    "name": "네이버 영화",
    "api": "movie",
    "query": "테슬라",
    "display": "10",
    "sort": "date",
    "start": "1",
    "creds": "bce27ad5.f77dd8",
    "x": 330,
    "y": 460,
    "wires": [
      [
        "6c63b7e6.8294c8"
      ]
    ]
  },
  {
    "id": "8b236b96.e26878",
    "type": "inject",
    "z": "fbe560b0.5c19f",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 460,
    "wires": [
      [
        "15b7ef5d.2e40d1"
      ]
    ]
  },
  {
    "id": "6c63b7e6.8294c8",
    "type": "debug",
    "z": "fbe560b0.5c19f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 460,
    "wires": []
  },
  {
    "id": "bc7fd2b6.c27b2",
    "type": "naversearch",
    "z": "fbe560b0.5c19f",
    "name": "네이버 카페",
    "api": "cafearticle",
    "query": "테슬라",
    "display": "10",
    "sort": "date",
    "start": "1",
    "creds": "bce27ad5.f77dd8",
    "x": 330,
    "y": 500,
    "wires": [
      [
        "125ee444.9dac6c"
      ]
    ]
  },
  {
    "id": "8ff92ac0.3a5668",
    "type": "inject",
    "z": "fbe560b0.5c19f",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 500,
    "wires": [
      [
        "bc7fd2b6.c27b2"
      ]
    ]
  },
  {
    "id": "125ee444.9dac6c",
    "type": "debug",
    "z": "fbe560b0.5c19f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 500,
    "wires": []
  },
  {
    "id": "9a53f410.4e9448",
    "type": "naversearch",
    "z": "fbe560b0.5c19f",
    "name": "네이버 지식IN",
    "api": "kin",
    "query": "테슬라",
    "display": "10",
    "sort": "date",
    "start": "1",
    "creds": "bce27ad5.f77dd8",
    "x": 340,
    "y": 540,
    "wires": [
      [
        "c44933d6.acd73"
      ]
    ]
  },
  {
    "id": "b522407a.a905e",
    "type": "inject",
    "z": "fbe560b0.5c19f",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 540,
    "wires": [
      [
        "9a53f410.4e9448"
      ]
    ]
  },
  {
    "id": "c44933d6.acd73",
    "type": "debug",
    "z": "fbe560b0.5c19f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 540,
    "wires": []
  },
  {
    "id": "f9e7fd6f.0d6d4",
    "type": "naversearch",
    "z": "fbe560b0.5c19f",
    "name": "네이버 지역",
    "api": "local",
    "query": "테슬라",
    "display": "10",
    "sort": "date",
    "start": "1",
    "creds": "bce27ad5.f77dd8",
    "x": 330,
    "y": 580,
    "wires": [
      [
        "ae669ddf.0e7c7"
      ]
    ]
  },
  {
    "id": "b8df3190.34f43",
    "type": "inject",
    "z": "fbe560b0.5c19f",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 580,
    "wires": [
      [
        "f9e7fd6f.0d6d4"
      ]
    ]
  },
  {
    "id": "ae669ddf.0e7c7",
    "type": "debug",
    "z": "fbe560b0.5c19f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 580,
    "wires": []
  },
  {
    "id": "86cae521.5fb918",
    "type": "naversearch",
    "z": "fbe560b0.5c19f",
    "name": "네이버 오타변환",
    "api": "errata",
    "query": "택슬라",
    "display": "10",
    "sort": "date",
    "start": "1",
    "creds": "bce27ad5.f77dd8",
    "x": 340,
    "y": 620,
    "wires": [
      [
        "888b89e.4a35d78"
      ]
    ]
  },
  {
    "id": "c0eb21d0.cdaf9",
    "type": "inject",
    "z": "fbe560b0.5c19f",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 620,
    "wires": [
      [
        "86cae521.5fb918"
      ]
    ]
  },
  {
    "id": "888b89e.4a35d78",
    "type": "debug",
    "z": "fbe560b0.5c19f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 620,
    "wires": []
  },
  {
    "id": "34f1e7f9.ef4318",
    "type": "naversearch",
    "z": "fbe560b0.5c19f",
    "name": "네이버 웹문서",
    "api": "webkr",
    "query": "테슬라",
    "display": "10",
    "sort": "date",
    "start": "1",
    "creds": "bce27ad5.f77dd8",
    "x": 340,
    "y": 660,
    "wires": [
      [
        "287d215c.3bd5be"
      ]
    ]
  },
  {
    "id": "b13ead1a.de99e",
    "type": "inject",
    "z": "fbe560b0.5c19f",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 660,
    "wires": [
      [
        "34f1e7f9.ef4318"
      ]
    ]
  },
  {
    "id": "287d215c.3bd5be",
    "type": "debug",
    "z": "fbe560b0.5c19f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 660,
    "wires": []
  },
  {
    "id": "2559db79.0edd44",
    "type": "naversearch",
    "z": "fbe560b0.5c19f",
    "name": "네이버 이미지",
    "api": "image",
    "query": "테슬라",
    "display": "10",
    "sort": "date",
    "start": "1",
    "creds": "bce27ad5.f77dd8",
    "x": 340,
    "y": 700,
    "wires": [
      [
        "7cf6b781.e15cf8"
      ]
    ]
  },
  {
    "id": "99001b28.b0cf08",
    "type": "inject",
    "z": "fbe560b0.5c19f",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 700,
    "wires": [
      [
        "2559db79.0edd44"
      ]
    ]
  },
  {
    "id": "7cf6b781.e15cf8",
    "type": "debug",
    "z": "fbe560b0.5c19f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 700,
    "wires": []
  },
  {
    "id": "ec8f2b69.aff718",
    "type": "naversearch",
    "z": "fbe560b0.5c19f",
    "name": "네이버 쇼핑",
    "api": "shop",
    "query": "테슬라",
    "display": "10",
    "sort": "date",
    "start": "1",
    "creds": "bce27ad5.f77dd8",
    "x": 330,
    "y": 740,
    "wires": [
      [
        "945d7294.bec0d"
      ]
    ]
  },
  {
    "id": "32fbb9ee.94b376",
    "type": "inject",
    "z": "fbe560b0.5c19f",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 740,
    "wires": [
      [
        "ec8f2b69.aff718"
      ]
    ]
  },
  {
    "id": "945d7294.bec0d",
    "type": "debug",
    "z": "fbe560b0.5c19f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 740,
    "wires": []
  },
  {
    "id": "256899ba.cfc306",
    "type": "naversearch",
    "z": "fbe560b0.5c19f",
    "name": "네이버 전문자료",
    "api": "doc",
    "query": "테슬라",
    "display": "10",
    "sort": "date",
    "start": "1",
    "creds": "bce27ad5.f77dd8",
    "x": 340,
    "y": 780,
    "wires": [
      [
        "8994585.3051fa8"
      ]
    ]
  },
  {
    "id": "efedcce1.17b54",
    "type": "inject",
    "z": "fbe560b0.5c19f",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 780,
    "wires": [
      [
        "256899ba.cfc306"
      ]
    ]
  },
  {
    "id": "8994585.3051fa8",
    "type": "debug",
    "z": "fbe560b0.5c19f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 780,
    "wires": []
  },
  {
    "id": "bce27ad5.f77dd8",
    "type": "naversearchApiKey",
    "name": ""
  }
]
